<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781219717707-hnc4bgshcdpficup8eu8b6p483gr294n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781219717707-hnc4bgshcdpficup8eu8b6p483gr294n</string>
	<key>API_KEY</key>
	<string>AIzaSyCrGQbQHlsbh_GXW4X5HIZp7ksU4wq5uTg</string>
	<key>GCM_SENDER_ID</key>
	<string>781219717707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.brightsummit.SneakyStores</string>
	<key>PROJECT_ID</key>
	<string>sneakystores-86630</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakystores-86630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781219717707:ios:260443bcf1c21bdef423ce</string>
</dict>
</plist>